.row{
  margin-top: 5em;
}
.badge{
  background-color:grey;
}

ul .dropdown-menu{
  width: 20em;
}

#count{
  display: inline;
}


#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}


  #main {
    padding: 1em;
    background: white;
  }


//#START:form
.depot_form {
  fieldset {
    background: #efe;
    legend {
      color: #dfd;
      background: #141;
      font-family: sans-serif;
      padding: 0.2em 1em;
    }
  }
  form {
    label {
      width: 5em;
      float: left;
      text-align: right;
      padding-top: 0.2em;
      margin-right: 0.1em;
      display: block;
    }

    select, textarea, input {
      margin-left: 0.5em;
    }

    .submit {
      margin-left: 4em;
    }
    br {
      display: none
    }
  }
}
//#END:form