body {
    padding-top: 100px;
  }

.badge{
  background-color:grey;
}

ul .dropdown-menu{
  width: 20em;
}

#count{
  display: inline;
}


#notice {
  color: #000 !important;
  border: 2px solid red;
  padding: 1em;
  margin-bottom: 2em;
  background-color: #f0f0f0;
  font: bold smaller sans-serif;
}


  #main {
    background: white;

  }


//#START:form
// .depot_form {
//   fieldset {
//     background: lightblue;
//     margin-top: 51px;
//     legend {
//       color: #dfd;
//       background: grey;
//       font-family: sans-serif;
//       padding: 0.2em 1em;
//     }
//   }
//   form {
//     label {
//       width: 5em;
//       float: left;
//       text-align: right;
//       padding-top: 0.2em;
//       margin-right: 0.1em;
//       display: block;
//     }

//     select, textarea, input {
//       margin-left: 1em;
//     }

//     .submit {
//       margin-left: 4em;
//     }
//     br {
//       display: none
//     }
//   }
// }
//#END:form