.navbar-wrapper {
  
  top: 100px;
  right: 0;
  left: 0;
  z-index: 20;
}

#store-navbar{
  margin-bottom: 0;
  margin-top: 50px;
}

/* Flip around the padding for proper display in narrow viewports */
.navbar-wrapper .navbar {
  padding-right: 15px;
  padding-left: 15px;
}
.navbar-wrapper .navbar .container {
  width: auto;
}
/* END_HIGHLIGHT */