// Place all the styles related to the Products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
/* START_HIGHLIGHT */
.row{
}

.products {
  table {
    border-collapse: collapse;
  }

  table tr td {
    padding: 5px;
    padding-right: 0;
    margin: 0;
  }

  .img-rounded {
    display: block;
    width:  100%;
    padding: 0;
    margin: 0;
  }

  .list-image{
    width: 10%;
    padding: 0;
    margin: 0;
  }

  .list_description {
    width: 60%;

    dl {
      margin: 0;
    }

    dt {
      color:        #244;
      font-weight:  bold;
      font-size:    larger;
    }

    dd {
      margin: 0;
    }
  }
}
/* END_HIGHLIGHT */